#Container{
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

#Calculator {
    display: flex;
    flex-direction: column;
    
    text-align: center;
    border-style: solid;
    border-width: 4px;
    
    width: 600px;
    /* height: 200px; */
}

.line, #CalculationDisplay {
    display: flex;
    height: 100px;
    border-style: solid;
    border-width: 4px;
}
#CalculationDisplay{
    font-size: 40px;

    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}
.calcButton {
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;
}
.calcButton {
    border-radius: 8px;
    font-size: 40px;
}
#zero {
    flex-grow: 2;
    flex-basis: 0;
}